<!DOCTYPE html>
<html>
  <head>
    <title>Startup</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Bootstrap CSS from a CDN. This way you don't have to include the bootstrap file yourself -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Your own stylesheet -->
    {{!-- this will by defualt go to public css --}}
    <link rel="stylesheet" type="text/css" href="css/home.css">  
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
     <nav class="zone green">
     <ul class="main-nav">
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Our Team</a></li>
        <li class="push"><a href="">Contact</a></li>
    </ul>
  </nav>
    <div class="container d-flex align-items-center h-100">
      <div class="row">
        <header class="text-center col-12">
          <h1 class="text-uppercase animate__animated animate__fadeInDown"><strong>Powered by Intellect Driven by Values</strong></h1>
        </header>
        <div class="buffer col-12"></div>
        <section class="text-center col-12">
          <hr>
          <a href="/students"><button class="btn btn-primary btn-xl animate__animated animate__fadeInDown">Find out More</button></a>
        </section>
      </div>
    </div>
  </body>
</html>